{% extends 'WillothewispGuestbookBundle::layout.html.twig' %}

{% block content -%}
    <h1>Post</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Author</th>
                <td>{{ post.author }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ post.createdAt|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ post.url }}</td>
            </tr>
            <tr>
                <th>Post</th>
                <td>{{ post.post }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ post.rating }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('post_edit', { 'id': post.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
